//Variables

$lightBeige: #F8EFE2;
$sectionHeading: 24px;
$cadetBlue: #5f9ea0

#home{
	background: $lightBeige;
}


section h1{
	font-size: $sectionHeading;


#speakers{
	color: $cadetBlue;
}

}

#navbarSupportedContent ul li{
	text-decoration: none;
}

#schedule ul li{
	font-style: serif;
}

#Info ul li{
	font-style: sans-serif;
}